<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Electron</title>
    <!-- Archivo Bootswatch para estilizar la página. -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-4">
        <div class="row" id="products">

        </div>
    </div>  
    
    <script>
        //Importar ipcRenderer, para la comunicación entre ventanas.
        const { ipcRenderer } = require('electron');

        //Captura la caja de id products.
        const products = document.querySelector('#products');

        //Recibir el nuevo producto de la ventana new-product.html.
        ipcRenderer.on('new-product', (e, newProduct) => {
            //console.log(newProduct);

            //Lo que se va a mostrar cada vez que se agregue un nuevo producto.
            const newProductTemplate = `
               <div class="col-xl-3 p-2"> 
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">${newProduct.name}</h5>
                        </div>
                        <div class="card-body">
                            ${newProduct.description}
                            <hr/>
                            ${newProduct.price}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-danger btn-sm">DELETE</button>
                        </div>
                    </div>
               </div>
            `;
            products.innerHTML += newProductTemplate;

            //Para elimnar cada producto al presionar el botón DELETE
            //Capturo todos los botones DELETE por el nombre de clase
            const btns = document.querySelector('.btn btn-danger');
            //Itero cada botón
            btns.forEach(btn => {
                //Cada botón escuchará el evento Click
                btn.addEventListener('click', e => {
                    //La ventana sabrá que botón fue clickeado
                    e.target;
                });
            });
        });
    </script>
</body>
</html>