<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Electron</title>
    <!-- Archivo Bootswatch para estilizar la página. -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-4">
        <div class="row" id="products">

        </div>
    </div>  
    
    <script>
        //Importar ipcRenderer, para la comunicación entre ventanas.
        const { ipcRenderer } = require('electron');

        //Captura la caja de id products.
        const products = document.querySelector('#products');

        //Recibir el nuevo producto de la ventana new-product.html.
        ipcRenderer.on('new-product', (e, newProduct) => {
            //console.log(newProduct);

            //
            const newProductTemplate = `
               <div class="col-xs-4 p-2"> 

               </div>
            `;
        });
    </script>
</body>
</html>